@charset "UTF-8";



#add_button {
    margin-bottom: 20px;
    float: right;
}

#delete_button {
    float: right;
}

// Nav Bar pill styling
a {
    color: #333333;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus {
    color: #333333;
    background-color: #EEEEEE;
}

.nav-pills>li.active>a:hover {
    background-color: #CCCCCC;
}

h1 {
    text-align: center;
}

ul {
    color: red;
    list-style-type: none;
}


