<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact Details</title>

    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}/css/custom.css" rel="stylesheet" />
  </head>
  <body>

  <div class="container">

    <!--Nav Bar-->
    <ul class="nav nav-pills">
      <li class="active"><a href="/contacts/">Home</a></li>
    </ul>

    <header class="row">
      <h1> {{ contact.first_name }} {{ contact.last_name }}</h1>
    </header>

    <!--Table / Form-->
    <div class="row">
      <form class="form" role="form" action="/contacts/new/{{ contact.pk }}" method="post">
        {% csrf_token %}

        <div class="table-responsive">
          <table class="table">
            <tr>
              <td class="redh"> First Name: </td>
              <td>
                <input type="text" name="first_name" value="{{ contact.first_name }}" tabindex="1">
                {% if "first_name" in form.errors %}
                  {{ form.errors.first_name }}
                {% endif %}
              </td>

              <td> Address: </td>
              <td>
                  <input type="text" name="street" value="{{ contact.street }}" tabindex="5">
                {% if "street" in form.errors %}
                  {{ form.errors.street }}
                {% endif %}
              </td>
            </tr>

            <tr>
              <td> Last Name: </td>
              <td>
                <input type="text" name="last_name" value="{{ contact.last_name }}" tabindex="2">
                {% if "last_name" in form.errors %}
                  {{ form.errors.last_name }}
                {% endif %}
              </td>

              <td> City: </td>
              <td>
                <input type="text" name="city" value="{{ contact.city }}" tabindex="6">
                {% if "city" in form.errors %}
                  {{ form.errors.city}}
                {% endif %}
              </td>
            </tr>

            <tr>
              <td>Phone:</td>
              <td>
                <input type="text" name="phone_number" value="{{ contact.phone_number}}" tabindex="3">
                {% if "phone_number" in form.errors %}
                  {{ form.errors.phone_number}}
                {% endif %}
              </td>

              <td> State: </td>
              <td>
                <input type="text" name="state" value="{{ contact.state}}" tabindex="7">
                {% if "state" in form.errors %}
                  {{ form.errors.state}}
                {% endif %}
              </td>
            </tr>

            <tr>
              <td> Email:</td>
              <td>
                <input type="text" name="email" value="{{ contact.email}}" tabindex="4">
                {% if "email" in form.errors %}
                  {{ form.errors.email}}
                {% endif %}
              </td>

              <td> Zip: </td>
              <td>
                <input type="text" name="zip" value="{{ contact.zip}}" tabindex="8">
                {% if "zip" in form.errors %}
                  {{ form.errors.zip}}
                {% endif %}
              </td>
            </tr>
          </table>
        </div>

        <!--Add / Save Button-->
        <div class="col-xs-4 col-xs-push-8 col-sm-2 col-sm-push-7 col-sm-offset-3">
          {% if contact %}
          <input class="btn btn-success btn-block" type="submit" value="Save" />
          {% else %}
          <input class="btn btn-success btn-block" type="submit" value="Add" />
          {% endif %}
        </div>

      </form>

      <!--Delete button-->
      <div class="col-xs-4 col-xs-pull-4 col-xs-offset-4 col-sm-2 col-sm-pull-1">
        {% if contact %}
        <div>
          <form action="/contacts/delete/{{ contact.pk }}" method="POST">
            {% csrf_token %}
            <button class="btn btn-danger btn-block">Delete</button>
          </form>
        </div>
        {% endif %}
      </div>

    </div> <!-- end row -->

  </div> <!-- close container -->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="{{ STATIC_URL }}/js/jquery-1.11.1.min.js"></script>

  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{{ STATIC_URL }}/js/bootstrap.min.js"></script>
  <script src="{{ STATIC_URL }}/js/custom.js"></script>

  </body>
</html>