<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Address Book</title>

    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}/css/custom.css" rel="stylesheet" />
    <!--Data Tables-->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/DataTables-1.10.2/media/css/jquery.dataTables.css">

  </head>
  <body>

    <div class="container">
      <div class="jumbotron">
        <h1>Address Book</h1>
      </div>

      <div>
        <form action="/contacts/new" method="get">
          <button id="add_button" class="btn btn-success">New Contact</button>
        </form>
      </div>

      <div class="table-responsive">
        {% if latest_contact_list%}
          <table id="table_id" class="display table table-striped">
            <thead>
              <tr>
                  <th>Name</th>
                  <th>Phone Number</th>
                  <th>Email</th>
                  <th>Address</th>
                  <th>City</th>
                  <th>State</th>
                  <th>Zip</th>
              </tr>
            </thead>
              <tbody>
              {% for contact in latest_contact_list%}
              <tr class="clickableRow" href="/contacts/{{ contact.pk }}">
                <td>{{contact.first_name}} {{contact.last_name}}</td>
                <td>{{contact.phone_number}}</td>
                <td>{{contact.email}}</td>
                <td>{{contact.street}}</td>
                <td>{{contact.city}}</td>
                <td>{{contact.state}}</td>
                <td>{{contact.zip}}</td>
              </tr>
              {% endfor %}

              </tbody>

          </table>
        {% else %}
          <p>No contacts are available.</p>
        {% endif %}
      </div> <!-- close table responsive -->
    </div> <!-- close container -->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="{{ STATIC_URL }}/js/jquery-1.11.1.min.js"></script>
  <script src="{{ STATIC_URL }}/js/bootstrap.min.js"></script>

  <!-- Data Tables jQuery -->
  <script type="text/javascript" charset="utf8" src="{{ STATIC_URL }}/DataTables-1.10.2/media/js/jquery.js"></script>
  <!-- DataTables -->
  <script type="text/javascript" charset="utf8" src="{{ STATIC_URL }}/DataTables-1.10.2/media/js/jquery.dataTables.js"></script>

  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{{ STATIC_URL }}/js/custom.js"></script>
  </body>
</html>